<!-- ====== Forms Section Start -->
<h1 class="text-3xl text-black pb-6">Update Class</h1>
<section class="w-full h-screen overflow-x-hidden border-t flex flex-col">
  <div class="w-[800px]">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full">
        <div
          class="wow fadeInUp relative mx-auto overflow-hidden rounded-lg bg-white py-14 px-8 text-center flex-auto sm:px-12 md:px-[60px]"
          data-wow-delay=".15s"
        >
          <div class="md:flex md:items-center md-6">
            <div class="md:w-2/3 flex justify-end py-5 px-5" *ngIf="classCode">
              <h3 class="text-base">
                You class code is
                <span class="text-primary font-bold">{{ classCode }} </span>
              </h3>
            </div>
          </div>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="md:flex md:items-center mb-6">
              <div class="md:w-1/3">
                <label
                  class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                  for="title"
                >
                  Full Name
                </label>
              </div>
              <div class="md:w-2/3">
                <input
                  type="text"
                  placeholder="Class Name"
                  formControlName="title"
                  [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
                  class="input-field"
                />

                <div
                  *ngIf="submitted && f.title.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.title.errors.required">
                    Class name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="md:flex md:items-center mb-6">
              <div class="md:w-1/3">
                <label
                  class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                  for="title"
                >
                  Start date
                </label>
              </div>
              <div class="md:w-2/3">
                <div class="flex flex-row">
                  <input
                    type="text"
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Start date"
                    formControlName="startDate"
                    (click)="picker.open()"
                    [ngClass]="{
                      'is-invalid': submitted && f.startDate.errors
                    }"
                    class="input-field"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
                <div
                  *ngIf="submitted && f.startDate.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.startDate.errors.required">
                    Start date is required
                  </div>
                </div>
              </div>
            </div>
            <div class="md:flex md:items-center mb-6">
              <div class="md:w-1/3">
                <label
                  class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                  for="title"
                >
                  End date
                </label>
              </div>
              <div class="md:w-2/3">
                <div class="flex flex-row">
                  <input
                    type="text"
                    placeholder="End date"
                    formControlName="endDate"
                    matInput
                    [matDatepicker]="endDatePicker"
                    [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }"
                    (click)="endDatePicker.open()"
                    class="input-field"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="endDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                </div>
                <div
                  *ngIf="submitted && f.endDate.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.endDate.errors.required">
                    End date is required
                  </div>
                </div>
              </div>
            </div>
            <div class="md:flex md:items-center mb-6">
              <div class="md:w-1/3">
                <label
                  class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                  for="title"
                >
                  Number of Hotels
                </label>
              </div>
              <div class="md:w-1/3">
                <input
                  type="number"
                  placeholder=""
                  formControlName="hotelsCount"
                  class="input-field"
                />
              </div>
            </div>
            <div class="md:flex md:items-center mb-6">
              <div class="md:w-1/3">
                <label
                  class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                  for="title"
                >
                  Rooms in each Hotel
                </label>
              </div>
              <div class="md:w-2/3">
                <input
                  type="text"
                  required="true"
                  placeholder="Room in each Hotel"
                  formControlName="roomInEachHotel"
                  class="input-field"
                />
                <div
                  *ngIf="submitted && f.roomInEachHotel.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.roomInEachHotel.errors.required">
                    Room in each hotel is required
                  </div>
                </div>
              </div>
            </div>
            <span formArrayName="groups">
              <div
                class="md:flex md:items-center mb-6"
                *ngFor="let item of groups.controls; let i = index"
                [formGroupName]="i"
              >
                <div class="md:w-1/3">
                  <label
                    class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
                    for="title"
                  >
                    Group {{ i + 1 }}
                  </label>
                </div>
                <div class="md:w-1/3">
                  <input
                    type="text"
                    placeholder="Group Name"
                    formControlName="name"
                    [ngClass]="{
                      'is-invalid': submitted && item.get('name')?.errors
                    }"
                    class="input-field"
                  />
                  <div
                    *ngIf="submitted && item.get('name')?.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="item.get('name')?.errors?.required">
                      Group Name is required
                    </div>
                  </div>
                </div>
                <div class="md:w-1/3 flex justify-start">
                  <mat-icon
                    fontIcon="add"
                    class="text-green-600 cursor-pointer mx-2 border-solid"
                    (click)="addGroup($event, i)"
                    [hidden]="!(i == groups.length - 1)"
                  >
                    Add
                  </mat-icon>

                  <mat-icon
                    class="text-red-500 cursor-pointer border-solid"
                    fontIcon="delete"
                    [hidden]="i == 0"
                    (click)="removeGroup($event, i)"
                    [hidden]="!(groups.length > 1 && i == groups.length - 1)"
                  >
                    Remove
                  </mat-icon>
                </div>
              </div>
            </span>

            <div class="md:flex md:items-center mb-6">
              <div class="md:w-1/3"></div>
              <div class="md:w-4/3">
                <button
                  type="submit"
                  class="bordder-primary w-full cursor-pointer rounded-md border bg-primary py-3 px-5 text-base text-white transition duration-300 ease-in-out hover:shadow-md"
                >
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Forms Section End -->
