
<h1 class="text-3xl text-black pb-0">Class List</h1>
<div class="add_btn">
  <input type="submit" value="Add Class" (click)="add()"
  class="bordder-primary cursor-pointer rounded-md border bg-primary py-3 px-5 text-base text-white transition duration-300 ease-in-out hover:shadow-md" />
</div>

<div class="container">
  <div >
  </div>
  <div>
    <ag-grid-angular
      style="height: 300px"
      class="ag-theme-alpine"
      [rowData]="$rows"
      [defaultColDef]="defaultColDef"
      [columnDefs]="columnDefs"
    >
    </ag-grid-angular>
  </div>
</div>
