<section >
    <div class="container">
        <h1>MAKE YOUR ROOM RATE DECISIONS</h1>
        <p>
            Make sure you enter a room rate for all segments and distribution channels. If you don't enter a room rate, it assumes that you are giving out those rooms for free for promotional purposes.
        </p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <table class="table-auto">
                <tr>
                    <td colspan="3" class="tableHeader">
                        <h2 class="style2">Direct
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td style="border-style: none none inset none">
                        &nbsp;</td>
                    <td style="border-style: none none inset none">
                        Week day</td>
                    <td style="border-style: none none inset none">
                        Week end</td>
                </tr>
                <tr>
                    <td>
                        Business
                    </td>
                    <td>
                        $<input type="text" formControlName="DweekDay1"
                            [ngClass]="{ 'is-invalid': submitted && f.DweekDay1.errors }" class="input-field" />
                        <div *ngIf="submitted && f.DweekDay1.errors">
                            <div *ngIf="f.DweekDay1.errors.required">Value is required</div>
                            <div *ngIf="f.DweekDay1.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Dweekend1"
                            [ngClass]="{ 'is-invalid': submitted && f.Dweekend1.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Dweekend1.errors">
                            <div *ngIf="f.Dweekend1.errors.required">Value is required</div>
                            <div *ngIf="f.Dweekend1.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Small Business</td>
                    <td>
                        $<input type="text" formControlName="DweekDay2"
                            [ngClass]="{ 'is-invalid': submitted && f.DweekDay2.errors }" class="input-field" />
                        <div *ngIf="submitted && f.DweekDay2.errors">
                            <div *ngIf="f.DweekDay2.errors.required">Value is required</div>
                            <div *ngIf="f.DweekDay2.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Dweekend2"
                            [ngClass]="{ 'is-invalid': submitted && f.Dweekend2.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Dweekend2.errors">
                            <div *ngIf="f.Dweekend2.errors.required">Value is required</div>
                            <div *ngIf="f.Dweekend2.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Corporate contract</td>
                    <td>
                        $<input type="text" formControlName="DweekDay3"
                            [ngClass]="{ 'is-invalid': submitted && f.DweekDay3.errors }" class="input-field" />
                        <div *ngIf="submitted && f.DweekDay3.errors">
                            <div *ngIf="f.DweekDay3.errors.required">Value is required</div>
                            <div *ngIf="f.DweekDay3.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Dweekend3"
                            [ngClass]="{ 'is-invalid': submitted && f.Dweekend3.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Dweekend3.errors">
                            <div *ngIf="f.Dweekend3.errors.required">Value is required</div>
                            <div *ngIf="f.Dweekend3.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Families</td>
                    <td>
                        $<input type="text" formControlName="DweekDay4"
                            [ngClass]="{ 'is-invalid': submitted && f.DweekDay4.errors }" class="input-field" />
                        <div *ngIf="submitted && f.DweekDay4.errors">
                            <div *ngIf="f.DweekDay4.errors.required">Value is required</div>
                            <div *ngIf="f.DweekDay4.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Dweekend4"
                            [ngClass]="{ 'is-invalid': submitted && f.Dweekend4.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Dweekend4.errors">
                            <div *ngIf="f.Dweekend4.errors.required">Value is required</div>
                            <div *ngIf="f.Dweekend4.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Afluent Mature Travelers</td>
                    <td>
                        $<input type="text" formControlName="DweekDay5"
                            [ngClass]="{ 'is-invalid': submitted && f.DweekDay5.errors }" class="input-field" />
                        <div *ngIf="submitted && f.DweekDay5.errors">
                            <div *ngIf="f.DweekDay5.errors.required">Value is required</div>
                            <div *ngIf="f.DweekDay5.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Dweekend5"
                            [ngClass]="{ 'is-invalid': submitted && f.Dweekend5.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Dweekend5.errors">
                            <div *ngIf="f.Dweekend5.errors.required">Value is required</div>
                            <div *ngIf="f.Dweekend5.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        International leisure travelers
                    </td>
                    <td>
                        $<input type="text" formControlName="DweekDay6"
                            [ngClass]="{ 'is-invalid': submitted && f.DweekDay6.errors }" class="input-field" />
                        <div *ngIf="submitted && f.DweekDay6.errors">
                            <div *ngIf="f.DweekDay6.errors.required">Value is required</div>
                            <div *ngIf="f.DweekDay6.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Dweekend6"
                            [ngClass]="{ 'is-invalid': submitted && f.Dweekend6.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Dweekend6.errors">
                            <div *ngIf="f.Dweekend6.errors.required">Value is required</div>
                            <div *ngIf="f.Dweekend6.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Corporate/Business Meetings
                    </td>
                    <td>
                        $<input type="text" formControlName="DweekDay7"
                            [ngClass]="{ 'is-invalid': submitted && f.DweekDay7.errors }" class="input-field" />
                        <div *ngIf="submitted && f.DweekDay7.errors">
                            <div *ngIf="f.DweekDay7.errors.required">Value is required</div>
                            <div *ngIf="f.DweekDay7.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Dweekend7"
                            [ngClass]="{ 'is-invalid': submitted && f.Dweekend7.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Dweekend7.errors">
                            <div *ngIf="f.Dweekend7.errors.required">Value is required</div>
                            <div *ngIf="f.Dweekend7.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Association Meetings
                    </td>
                    <td>
                        $<input type="text" formControlName="DweekDay8"
                            [ngClass]="{ 'is-invalid': submitted && f.DweekDay8.errors }" class="input-field" />
                        <div *ngIf="submitted && f.DweekDay8.errors">
                            <div *ngIf="f.DweekDay8.errors.required">Value is required</div>
                            <div *ngIf="f.DweekDay8.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Dweekend8"
                            [ngClass]="{ 'is-invalid': submitted && f.Dweekend8.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Dweekend8.errors">
                            <div *ngIf="f.Dweekend8.errors.required">Value is required</div>
                            <div *ngIf="f.Dweekend8.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="table-auto">
                <tr>
                    <td colspan="3" class="tableHeader">
                        <h2 class="style2">Travel Agent</h2>
                    </td>
                </tr>
                <tr>
                    <td style="border-style: none none inset none">
                        &nbsp;</td>
                    <td style="border-style: none none inset none">
                        week day</td>
                    <td style="border-style: none none inset none">
                        week end</td>
                </tr>
                <tr>
                    <td>
                        Business
                    </td>
                    <td>
                        $<input type="text" formControlName="WweekDay1"
                            [ngClass]="{ 'is-invalid': submitted && f.WweekDay1.errors }" class="input-field" />
                        <div *ngIf="submitted && f.WweekDay1.errors">
                            <div *ngIf="f.WweekDay1.errors.required">Value is required</div>
                            <div *ngIf="f.WweekDay1.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Wweekend1"
                            [ngClass]="{ 'is-invalid': submitted && f.Wweekend1.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Wweekend1.errors">
                            <div *ngIf="f.Wweekend1.errors.required">Value is required</div>
                            <div *ngIf="f.Wweekend1.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Small Business</td>
                    <td>
                        $<input type="text" formControlName="WweekDay2"
                            [ngClass]="{ 'is-invalid': submitted && f.WweekDay2.errors }" class="input-field" />
                        <div *ngIf="submitted && f.WweekDay2.errors">
                            <div *ngIf="f.WweekDay2.errors.required">Value is required</div>
                            <div *ngIf="f.WweekDay2.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Wweekend2"
                            [ngClass]="{ 'is-invalid': submitted && f.Wweekend2.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Wweekend2.errors">
                            <div *ngIf="f.Wweekend2.errors.required">Value is required</div>
                            <div *ngIf="f.Wweekend2.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Corporate contract</td>
                    <td>
                        $<input type="text" formControlName="WweekDay3"
                            [ngClass]="{ 'is-invalid': submitted && f.WweekDay3.errors }" class="input-field" />
                        <div *ngIf="submitted && f.WweekDay3.errors">
                            <div *ngIf="f.WweekDay3.errors.required">Value is required</div>
                            <div *ngIf="f.WweekDay3.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Wweekend3"
                            [ngClass]="{ 'is-invalid': submitted && f.Wweekend3.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Wweekend3.errors">
                            <div *ngIf="f.Wweekend3.errors.required">Value is required</div>
                            <div *ngIf="f.Wweekend3.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Families</td>
                    <td>
                        $<input type="text" formControlName="WweekDay4"
                            [ngClass]="{ 'is-invalid': submitted && f.WweekDay4.errors }" class="input-field" />
                        <div *ngIf="submitted && f.WweekDay4.errors">
                            <div *ngIf="f.WweekDay4.errors.required">Value is required</div>
                            <div *ngIf="f.WweekDay4.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Wweekend4"
                            [ngClass]="{ 'is-invalid': submitted && f.Wweekend4.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Wweekend4.errors">
                            <div *ngIf="f.Wweekend4.errors.required">Value is required</div>
                            <div *ngIf="f.Wweekend4.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Afluent Mature Travelers</td>
                    <td>
                        $<input type="text" formControlName="WweekDay5"
                            [ngClass]="{ 'is-invalid': submitted && f.WweekDay5.errors }" class="input-field" />
                        <div *ngIf="submitted && f.WweekDay5.errors">
                            <div *ngIf="f.WweekDay5.errors.required">Value is required</div>
                            <div *ngIf="f.WweekDay5.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Wweekend5"
                            [ngClass]="{ 'is-invalid': submitted && f.Wweekend5.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Wweekend5.errors">
                            <div *ngIf="f.Wweekend5.errors.required">Value is required</div>
                            <div *ngIf="f.Wweekend5.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        International leisure travelers
                    </td>
                    <td>
                        $<input type="text" formControlName="WweekDay6"
                            [ngClass]="{ 'is-invalid': submitted && f.WweekDay6.errors }" class="input-field" />
                        <div *ngIf="submitted && f.WweekDay6.errors">
                            <div *ngIf="f.WweekDay6.errors.required">Value is required</div>
                            <div *ngIf="f.WweekDay6.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Wweekend6"
                            [ngClass]="{ 'is-invalid': submitted && f.Wweekend6.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Wweekend6.errors">
                            <div *ngIf="f.Wweekend6.errors.required">Value is required</div>
                            <div *ngIf="f.Wweekend6.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Corporate/Business Meetings
                    </td>
                    <td>
                        $<input type="text" formControlName="WweekDay7"
                            [ngClass]="{ 'is-invalid': submitted && f.WweekDay7.errors }" class="input-field" />
                        <div *ngIf="submitted && f.WweekDay7.errors">
                            <div *ngIf="f.WweekDay7.errors.required">Value is required</div>
                            <div *ngIf="f.WweekDay7.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Wweekend7"
                            [ngClass]="{ 'is-invalid': submitted && f.Wweekend7.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Wweekend7.errors">
                            <div *ngIf="f.Wweekend7.errors.required">Value is required</div>
                            <div *ngIf="f.Wweekend7.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Association Meetings
                    </td>
                    <td>
                        $<input type="text" formControlName="WweekDay8"
                            [ngClass]="{ 'is-invalid': submitted && f.WweekDay8.errors }" class="input-field" />
                        <div *ngIf="submitted && f.WweekDay8.errors">
                            <div *ngIf="f.WweekDay8.errors.required">Value is required</div>
                            <div *ngIf="f.WweekDay8.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Wweekend8"
                            [ngClass]="{ 'is-invalid': submitted && f.Wweekend8.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Wweekend8.errors">
                            <div *ngIf="f.Wweekend8.errors.required">Value is required</div>
                            <div *ngIf="f.Wweekend8.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="table-auto">
                <tr>
                    <td colspan="3" class="tableHeader">
                        <h2 class="style2">Online Travel Agent</h2>
                    </td>
                </tr>
                <tr>
                    <td style="border-style: none none inset none">
                        &nbsp;</td>
                    <td style="border-style: none none inset none">
                        week day</td>
                    <td style="border-style: none none inset none">
                        week end</td>
                </tr>
                <tr>
                    <td>
                        Business
                    </td>
                    <td>
                        $<input type="text" formControlName="OnweekDay1"
                            [ngClass]="{ 'is-invalid': submitted && f.OnweekDay1.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OnweekDay1.errors">
                            <div *ngIf="f.OnweekDay1.errors.required">Value is required</div>
                            <div *ngIf="f.OnweekDay1.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Onweekend1"
                            [ngClass]="{ 'is-invalid': submitted && f.Onweekend1.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Onweekend1.errors">
                            <div *ngIf="f.Onweekend1.errors.required">Value is required</div>
                            <div *ngIf="f.Onweekend1.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Small Business</td>
                    <td>
                        $<input type="text" formControlName="OnweekDay2"
                            [ngClass]="{ 'is-invalid': submitted && f.OnweekDay2.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OnweekDay2.errors">
                            <div *ngIf="f.OnweekDay2.errors.required">Value is required</div>
                            <div *ngIf="f.OnweekDay2.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Onweekend2"
                            [ngClass]="{ 'is-invalid': submitted && f.Onweekend2.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Onweekend2.errors">
                            <div *ngIf="f.Onweekend2.errors.required">Value is required</div>
                            <div *ngIf="f.Onweekend2.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Corporate contract</td>
                    <td>
                        $<input type="text" formControlName="OnweekDay3"
                            [ngClass]="{ 'is-invalid': submitted && f.OnweekDay3.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OnweekDay3.errors">
                            <div *ngIf="f.OnweekDay3.errors.required">Value is required</div>
                            <div *ngIf="f.OnweekDay3.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Onweekend3"
                            [ngClass]="{ 'is-invalid': submitted && f.Onweekend3.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Onweekend3.errors">
                            <div *ngIf="f.Onweekend3.errors.required">Value is required</div>
                            <div *ngIf="f.Onweekend3.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Families</td>
                    <td>
                        $<input type="text" formControlName="OnweekDay4"
                            [ngClass]="{ 'is-invalid': submitted && f.OnweekDay4.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OnweekDay4.errors">
                            <div *ngIf="f.OnweekDay4.errors.required">Value is required</div>
                            <div *ngIf="f.OnweekDay4.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Onweekend4"
                            [ngClass]="{ 'is-invalid': submitted && f.Onweekend4.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Onweekend4.errors">
                            <div *ngIf="f.Onweekend4.errors.required">Value is required</div>
                            <div *ngIf="f.Onweekend4.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Afluent Mature Travelers</td>
                    <td>
                        $<input type="text" formControlName="OnweekDay5"
                            [ngClass]="{ 'is-invalid': submitted && f.OnweekDay5.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OnweekDay5.errors">
                            <div *ngIf="f.OnweekDay5.errors.required">Value is required</div>
                            <div *ngIf="f.OnweekDay5.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Onweekend5"
                            [ngClass]="{ 'is-invalid': submitted && f.Onweekend5.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Onweekend5.errors">
                            <div *ngIf="f.Onweekend5.errors.required">Value is required</div>
                            <div *ngIf="f.Onweekend5.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        International leisure travelers
                    </td>
                    <td>
                        $<input type="text" formControlName="OnweekDay6"
                            [ngClass]="{ 'is-invalid': submitted && f.OnweekDay6.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OnweekDay6.errors">
                            <div *ngIf="f.OnweekDay6.errors.required">Value is required</div>
                            <div *ngIf="f.OnweekDay6.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Onweekend6"
                            [ngClass]="{ 'is-invalid': submitted && f.Onweekend6.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Onweekend6.errors">
                            <div *ngIf="f.Onweekend6.errors.required">Value is required</div>
                            <div *ngIf="f.Onweekend6.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Corporate/Business Meetings
                    </td>
                    <td>
                        $<input type="text" formControlName="OnweekDay7"
                            [ngClass]="{ 'is-invalid': submitted && f.OnweekDay7.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OnweekDay7.errors">
                            <div *ngIf="f.OnweekDay7.errors.required">Value is required</div>
                            <div *ngIf="f.OnweekDay7.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Onweekend7"
                            [ngClass]="{ 'is-invalid': submitted && f.Onweekend7.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Onweekend7.errors">
                            <div *ngIf="f.Onweekend7.errors.required">Value is required</div>
                            <div *ngIf="f.Onweekend7.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Association Meetings
                    </td>
                    <td>
                        $<input type="text" formControlName="OnweekDay8"
                            [ngClass]="{ 'is-invalid': submitted && f.OnweekDay8.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OnweekDay8.errors">
                            <div *ngIf="f.OnweekDay8.errors.required">Value is required</div>
                            <div *ngIf="f.OnweekDay8.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Onweekend8"
                            [ngClass]="{ 'is-invalid': submitted && f.Onweekend8.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Onweekend8.errors">
                            <div *ngIf="f.Onweekend8.errors.required">Value is required</div>
                            <div *ngIf="f.Onweekend8.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="table-auto">
                <tr>
                    <td colspan="3" class="tableHeader">
                        <h2 class="style2">Opaque</h2>
                    </td>
                </tr>
                <tr>
                    <td style="border-style: none none inset none">
                        &nbsp;</td>
                    <td style="border-style: none none inset none">
                        week day</td>
                    <td style="border-style: none none inset none">
                        week end</td>
                </tr>
                <tr>
                    <td>
                        Business
                    </td>
                    <td>
                        $<input type="text" formControlName="OpweekDay1"
                            [ngClass]="{ 'is-invalid': submitted && f.OpweekDay1.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OpweekDay1.errors">
                            <div *ngIf="f.OpweekDay1.errors.required">Value is required</div>
                            <div *ngIf="f.OpweekDay1.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Opweekend1"
                            [ngClass]="{ 'is-invalid': submitted && f.Opweekend1.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Opweekend1.errors">
                            <div *ngIf="f.Opweekend1.errors.required">Value is required</div>
                            <div *ngIf="f.Opweekend1.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Small Business</td>
                    <td>
                        $<input type="text" formControlName="OpweekDay2"
                            [ngClass]="{ 'is-invalid': submitted && f.OpweekDay2.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OpweekDay2.errors">
                            <div *ngIf="f.OpweekDay2.errors.required">Value is required</div>
                            <div *ngIf="f.OpweekDay2.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Opweekend2"
                            [ngClass]="{ 'is-invalid': submitted && f.Opweekend2.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Opweekend2.errors">
                            <div *ngIf="f.Opweekend2.errors.required">Value is required</div>
                            <div *ngIf="f.Opweekend2.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Corporate contract</td>
                    <td>
                        $<input type="text" formControlName="OpweekDay3"
                            [ngClass]="{ 'is-invalid': submitted && f.OpweekDay3.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OpweekDay3.errors">
                            <div *ngIf="f.OpweekDay3.errors.required">Value is required</div>
                            <div *ngIf="f.OpweekDay3.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Opweekend3"
                            [ngClass]="{ 'is-invalid': submitted && f.Opweekend3.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Opweekend3.errors">
                            <div *ngIf="f.Opweekend3.errors.required">Value is required</div>
                            <div *ngIf="f.Opweekend3.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Families</td>
                    <td>
                        $<input type="text" formControlName="OpweekDay4"
                            [ngClass]="{ 'is-invalid': submitted && f.OpweekDay4.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OpweekDay4.errors">
                            <div *ngIf="f.OpweekDay4.errors.required">Value is required</div>
                            <div *ngIf="f.OpweekDay4.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Opweekend4"
                            [ngClass]="{ 'is-invalid': submitted && f.Opweekend4.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Opweekend4.errors">
                            <div *ngIf="f.Opweekend4.errors.required">Value is required</div>
                            <div *ngIf="f.Opweekend4.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Afluent Mature Travelers</td>
                    <td>
                        $<input type="text" formControlName="OpweekDay5"
                            [ngClass]="{ 'is-invalid': submitted && f.OpweekDay5.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OpweekDay5.errors">
                            <div *ngIf="f.OpweekDay5.errors.required">Value is required</div>
                            <div *ngIf="f.OpweekDay5.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Opweekend5"
                            [ngClass]="{ 'is-invalid': submitted && f.Opweekend5.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Opweekend5.errors">
                            <div *ngIf="f.Opweekend5.errors.required">Value is required</div>
                            <div *ngIf="f.Opweekend5.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        International leisure travelers
                    </td>
                    <td>
                        $<input type="text" formControlName="OpweekDay6"
                            [ngClass]="{ 'is-invalid': submitted && f.OpweekDay6.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OpweekDay6.errors">
                            <div *ngIf="f.OpweekDay6.errors.required">Value is required</div>
                            <div *ngIf="f.OpweekDay6.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Opweekend6"
                            [ngClass]="{ 'is-invalid': submitted && f.Opweekend6.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Opweekend6.errors">
                            <div *ngIf="f.Opweekend6.errors.required">Value is required</div>
                            <div *ngIf="f.Opweekend6.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Corporate/Business Meetings
                    </td>
                    <td>
                        $<input type="text" formControlName="OpweekDay7"
                            [ngClass]="{ 'is-invalid': submitted && f.OpweekDay7.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OpweekDay7.errors">
                            <div *ngIf="f.OpweekDay7.errors.required">Value is required</div>
                            <div *ngIf="f.OpweekDay7.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Opweekend7"
                            [ngClass]="{ 'is-invalid': submitted && f.Opweekend7.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Opweekend7.errors">
                            <div *ngIf="f.Opweekend7.errors.required">Value is required</div>
                            <div *ngIf="f.Opweekend7.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Association Meetings
                    </td>
                    <td>
                        $<input type="text" formControlName="OpweekDay8"
                            [ngClass]="{ 'is-invalid': submitted && f.OpweekDay8.errors }" class="input-field" />
                        <div *ngIf="submitted && f.OpweekDay8.errors">
                            <div *ngIf="f.OpweekDay8.errors.required">Value is required</div>
                            <div *ngIf="f.OpweekDay8.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                    <td>
                        $<input type="text" formControlName="Opweekend8"
                            [ngClass]="{ 'is-invalid': submitted && f.Opweekend8.errors }" class="input-field" />
                        <div *ngIf="submitted && f.Opweekend8.errors">
                            <div *ngIf="f.Opweekend8.errors.required">Value is required</div>
                            <div *ngIf="f.Opweekend8.errors.pattern">Invalid value</div>
                        </div>
                    </td>
                </tr>
            </table>
            <p>{{errorMsg}}</p>
            <div class="mb-6">
                <div *ngIf="form.errors && form.errors.apiError">
                    {{ form.errors.apiError }}
                </div>
            </div>
            <div class="footer">
                <div class="md:flex md:items-center mb-6">
                    <div class="md:w-1/2"></div>
                    <div class="md:w-4/3">
                      <button type="submit"
                        class="bordder-primary w-full cursor-pointer rounded-md border bg-primary py-3 px-5 text-base text-white transition duration-300 ease-in-out hover:shadow-md">
                        Save Decisions
                      </button>
                    </div>
                  </div>
                  <p>Make sure you enter a room rate for all segments and distribution channels. If you don't enter a room rate, it assumes that you are giving out those rooms for free for promotional purposes.</p>
            </div>
        </form>
    </div>
</section>