<button class="align-right" mat-button [matMenuTriggerFor]="afterMenu">Menu</button>
<mat-menu #afterMenu="matMenu" xPosition="before">
  <button (click)="classEdit()" style="font-size: 10px;" mat-menu-item>Class Overview</button>
</mat-menu>
<section >
  <ul class="custom_table mb-12">
      <li>
          <div class="grid grid-cols-2 border p-4">
              <div class="text-left">First name</div>
              <label class="text-right">hello</label>
          </div>
      </li>
      <li>
          <div class="grid grid-cols-2 border p-4">
              <div class="text-left">Last name</div>
              <label class="text-right">grllo</label>
          </div>
      </li>
      <li>
          <div class="grid grid-cols-2 border p-4">
              <div class="text-left">Email</div>
              <label class="text-right">hello</label>
          </div>
      </li>
  </ul>
</section>
<h1 class="text-3xl text-black pb-0">Student List</h1>
<div class="container">
  <div>
  </div>
  <div>
    <ag-grid-angular style="height: 300px" class="ag-theme-alpine" [rowData]="$rows" [defaultColDef]="defaultColDef"
      [columnDefs]="columnDefs">
    </ag-grid-angular>
  </div>
</div>