<app-class-menu></app-class-menu>
<section>
  <div>
    <div class="px-4 sm:px-0">
      <h3 class="text-base leading-7 text-gray-900">Applicant Information</h3>
    </div>
    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            Class Name
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            <span>{{ classSession?.title }}</span>
          </dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            Start Date
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            <span>{{ classSession?.startDate | date : "dd MMMM yyyy" }}</span>
          </dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">End date</dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            <span>{{ classSession?.endDate | date : "dd MMMM yyyy" }}</span>
          </dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            Total Student enrolled
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            <span>{{ classSession?.totalStudentCount }}</span>
          </dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">About</dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            reprehenderit deserunt qui eu.
          </dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900"></dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            <a
              [routerLink]="['../../edit', classId]"
              routerLinkActive="router-link-active"
              class="bg-primary float-left px-6 py-2 m-2 text-white"
            >
              Edit Class
            </a>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>

<div class="container">
  <h1 class="text-3xl text-black pb-0">Student List</h1>
  <div></div>
  <div>
    <ag-grid-angular
      style="height: 300px"
      class="ag-theme-alpine"
      [rowData]="$rows"
      [defaultColDef]="defaultColDef"
      [columnDefs]="columnDefs"
    >
    </ag-grid-angular>
  </div>
</div>
