<section >
<ul class="w-full max-w-lg" style="padding: 20px 20px 20px 20px;">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        First Name
      </label>
      <input [value]="row.firstName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-first-name" type="text" placeholder="Jane">
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
        Last Name
      </label>
      <input [value]="row.lastName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Doe">
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        Student Roles
      </label>
        <mat-form-field appearance="fill" class="col-md-1">
          <mat-select [(ngModel)]="selectedRoles" [compareWith]="compareFn" multiple>
          <mat-option *ngFor="let role of StudentAssignRoles" [value]="role">{{ role.roleName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
        Groups
      </label>
      <mat-form-field appearance="fill" class="col-md-2">
        <mat-select [(ngModel)]="selectedGroup">
          <mat-option *ngFor="let group of groups" [value]="group">{{ group.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="md:flex md:items-center">
    <div class="md:w-1/3"></div>
    <div class="md:w-2/3 flex justify-right">
      <div class="flex space-x-2">
        <button (click)="Save()" class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
          Save
        </button>
        <button (click)="Cancel()" class="shadow bg-gray-500 hover:bg-gray-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
          Cancel
        </button>
      </div>
    </div>
  </div>
  
</ul> 
</section>

