
<app-class-menu></app-class-menu>
<h2>
    Previous 
    Months
</h2>
<table id="monthGrd">
    <tr>
        <th>
            Month
        </th>
        <th>ClassID</th>
        <th>
            Quarter No
        </th>
        <th>
            Monthly Market
        </th>
        <th>
            Completed
        </th>
        <th>
            Configuration
        </th>
        
    </tr>
    <tr  *ngFor="let month of monthList">
        <td>{{ month.monthId }}</td>
        <td>{{month.classId}}</td>
        <td>{{ month.sequence }}</td>
        <td>{{month.totalMarket}}</td>
        <td>{{ month.isComplete }}</td>
        <td>{{ month.configId }}</td>
        
    </tr>
    </table>
    <div style="margin-top: 12px;margin-bottom: 10px;">
    <h2>Finalize The Current Month</h2>
    <p>
        You can't create new month before finalizing current 
        month. Be careful, once 
        you finalize current month, it is not allowed to rollback. You can only review 
        finalized months.
        <br />
        <button ID="FinalizeButton" type="button" Text="Finalize Now" class="button" [disabled]="isFinalizeButtonDisable" (click)="FinalizeMonth()">Finalize Now</button>
    </p>
    </div>
    <table id="monthGrd">
        <tr>
            <th  >
                <h2>Create A New Month</h2>
            </th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td >
                Month Number
            </td>
            <td >
                <span ID="QuarterNoLabel"  Text="">{{QuarterNoLabel}}</span>
            </td>
            
        </tr>
        <tr>
            <td >
                Average Expected Market Occupancy Percentage<span style="color: red;"> *</span>
            </td>
            <td >
                <input type="number" ID="MarketTextBox" [(ngModel)]="MarketTextBox" required><span style="margin-left: 5px;">%</span>
<span id="ErrorMsg" [hidden]="!isError" style="color: red;">Enter Number Value </span>
            </td>
            
        </tr>
        <tr>
            <td >
                Configuration
            </td>
            <td >
                <span ID="ConfigurationLabel"  >{{configId}}</span>
            </td>
            
        </tr>
        <tr>
            <td >
                Message
            </td>
            <td >
                <span ID="MessageLabel" runat="server" Text="">{{MessageLabel}}</span>
            </td>
            <td >
               
                <button ID="NewQuarterButton" type="button" class="button" (click)="CreateNewMonth()" [disabled]="isNewQuarterButtonDisable" >Create a New Month</button>
                    
            </td>
        </tr>
    </table>
