<div class="flex-row">
  <mat-icon
    class="text-white-500 float-right border-solid"
    mat-dialog-close
    matRipple
    fontIcon="close"
  ></mat-icon>

  <mat-tab-group>
    <mat-tab *ngIf="showRoom" label="Room Allocation Decisions">
      <app-room ></app-room>
    </mat-tab>
    <mat-tab *ngIf="showAttribute" label="Hotel Attributes and Amenities Decisions">
      <app-attribute ></app-attribute>
    </mat-tab>
    <mat-tab *ngIf="showRate" label="Room Rate Decisions">
      <app-price ></app-price>
    </mat-tab>
    <mat-tab  *ngIf="showmkt" label="Marketing Decisions">
      <app-marketing ></app-marketing>
    </mat-tab>
  </mat-tab-group>
</div>
