<div class="flex relative w-full justify-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-6">
            <input type="password" placeholder="Current` Password" formControlName="currentPassword"
                class="bordder-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none" />
            <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                <div *ngIf="f.currentPassword.errors.required">Current password is required</div>
            </div>
        </div>
        <div class="mb-6">
            <input type="password" placeholder="New Password" formControlName="newPassword"
                class="bordder-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none" />
            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">New password is required</div>
            </div>
        </div>
        <div class="mb-6">
            <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                class="bordder-[#E9EDF4] w-full rounded-md border bg-[#FCFDFE] py-3 px-5 text-base text-body-color placeholder-[#ACB6BE] outline-none transition focus:border-primary focus-visible:shadow-none" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
            </div>
        </div>
        <div class="mb-10">
            <input type="submit" value="Sign In"
                class="bordder-primary w-full cursor-pointer rounded-md border bg-primary py-3 px-5 text-base text-white transition duration-300 ease-in-out hover:shadow-md" />
        </div>
    </form>
</div>