:host::ng-deep .rag-red {
    /* background-color: red; */
    border: 3px solid red !important;
  }
  table {
    width: 100%;
  }
  tr {
  height: 50px;

  }

  th{
    text-align: left;
  }

  .is-invalid {
    border: 2px solid red;
  }