<section class="bg-[#F4F7FF] py-14 lg:py-20">
    <div class="container">
        <div class="-mx-4 flex flex-wrap">
            <mat-list>
                <mat-list-item> <a>Room Allocation</a></mat-list-item>
                <mat-list-item> <a> Hotel Attributes and Amenities</a></mat-list-item>
                <mat-list-item><a> Room Rate Decisions</a></mat-list-item>
                <mat-list-item><a> Marketing Decisions</a></mat-list-item>
            </mat-list>

        </div>
    </div>
</section>