<header-menu></header-menu>
<banner title="Create new account"></banner>
<!-- ====== Forms Section Start -->
<section class="bg-[#F4F7FF] py-14 lg:py-20">
    <div class="container">
        <div class="-mx-4 flex flex-wrap">
            <div class="w-full px-4">
                <div class="wow fadeInUp relative mx-auto max-w-[525px] overflow-hidden rounded-lg bg-white py-14 px-8 text-center sm:px-12 md:px-[60px]"
                    data-wow-delay=".15s">
                    <div class="mb-10 text-center">
                        <a href="javascript:void(0)" class="mx-auto logo inline-block max-w-[160px]">
                            <img src="assets/images/logo/blue-logo.png" alt="logo" />
                        </a>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="mb-6">
                            <div *ngIf="form.errors && form.errors.apiError">
                                {{ form.errors.apiError }}
                              </div>
                            <input type="text" placeholder="First name" formControlName="firstName"
                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" class="input-field" />

                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First name is required</div>
                            </div>

                            <div *ngIf="form.controls.firstName.hasError('apiError')">
                                {{ form.controls.firstName.getError('apiError') }}
                              </div>
                        </div>
                        <div class="mb-6">

                            <input type="text" placeholder="Last name" formControlName="lastName"
                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" class="input-field" />

                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last name is required</div>
                            </div>

                            <div *ngIf="form.controls.lastName.hasError('apiError')">
                                {{ form.controls.lastName.getError('apiError') }}
                              </div>

                        </div>
                        <div class="mb-6">
                            <input type="email" placeholder="Email" formControlName="email" class="input-field" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                            <div *ngIf="form.controls.email.hasError('apiError')">
                                {{ form.controls.email.getError('apiError') }}
                              </div>
                        </div>
                        <div class="mb-6">
                            <input type="text" required="true" placeholder="institute" formControlName="institute"
                                class="input-field" />
                            <div *ngIf="submitted && f.institute.errors" class="invalid-feedback">
                                <div *ngIf="f.institute.errors.required">Institute is required</div>
                            </div>
                            <div *ngIf="form.controls.institute.hasError('apiError')">
                                {{ form.controls.institute.getError('apiError') }}
                              </div>
                        </div>
                        <div class="mb-6">
                            <input type="text" required="true" placeholder="class Code" formControlName="classCode"
                                class="input-field" />
                            <div *ngIf="submitted && f.classCode.errors" class="invalid-feedback">
                                <div *ngIf="f.classCode.errors.required">Class Code is required</div>
                            </div>
                            <div *ngIf="form.controls.email.hasError('apiError')">
                                {{ form.controls.email.getError('apiError') }}
                              </div>
                              <div *ngIf="form.controls.classCode.hasError('apiError')">
                                {{ form.controls.classCode.getError('apiError') }}
                              </div>
                        </div>
                        <div *ngIf="referenceId" class="mb-6">
                            <input type="password" required="true" placeholder="Password" formControlName="password"
                                class="input-field" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <div class="mb-1 float-left">
                            <label class="mb-4 text-base text-[#adadad]">
                                <p>
                                    By creating an account you are agree with our
                                    <a href="javascript:void(0)" class="text-primary hover:underline">
                                        Privacy
                                    </a>
                                    and
                                    <a href="javascript:void(0)" class="text-primary hover:underline">
                                        Policy
                                    </a>
                                </p>
                            </label>
                        </div>
                        <div class="mb-10">
                            <button type="submit"
                                class="bordder-primary w-full cursor-pointer rounded-md border bg-primary py-3 px-5 text-base text-white transition duration-300 ease-in-out hover:shadow-md">
                                Sign Up</button>
                        </div>
                    </form>




                    <p class="text-base text-[#adadad]">
                        Already have an account?
                        <a href="signin.html" class="text-primary hover:underline">
                            Sign In
                        </a>
                    </p>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Forms Section End -->