<div class="flex">
  <aside
    class="relative bg-sidebar bg-primary h-screen w-64 hidden sm:block shadow-xl"
  >
    <div class="p-6">
      <a
        href="/instructor"
        class="text-white text-3xl uppercase hover:text-gray-300"
        >instructor</a
      >
    </div>
    <nav class="text-white text-base pt-3">
      <a
        routerLink="class/list"
        class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
      >
        <button>
          <mat-icon
            class="text-white-500"
            style="margin-right: 5px"
            matRipple
            fontIcon="library_books"
          ></mat-icon>
        </button>
        Manage Classes
      </a>
      <a
        routerLink="change-password"
        class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
      >
        <button>
          <mat-icon
            class="text-white-500"
            style="margin-right: 5px"
            matRipple
            fontIcon="vpn_key"
          ></mat-icon>
        </button>
        Change Password
      </a>
      <button
        (click)="logout()"
        class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
      >
        <mat-icon
          class="text-white-500"
          style="margin-right: 5px"
          matRipple
          fontIcon="logout"
        ></mat-icon>
        Logout
      </button>
    </nav>
  </aside>

  <div class="w-full flex flex-col h-screen overflow-y-hidden">
    <!-- Desktop Header -->
    <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
      <div class="w-1/2">
        <a href="/instructor" class="navbar-logo block w-full py-0">
          <img 
            src="assets/images/logo/blue-logo.png"
            alt="logo"
            class="header-logo logo w-full"
          />
        </a>
      </div>
      <div class="relative w-1/2 flex justify-end">
        <button
          [matMenuTriggerFor]="menu"
          class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-primary focus:outline-none"
        >
          <mat-icon class="text-primary" fontIcon="person"></mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <a mat-menu-item class="text-primary" routerLink="class/list">
            <mat-icon
              class="text-primary"
              matRipple
              fontIcon="school"
            ></mat-icon>
            Manage Classes
          </a>
          <a
            mat-menu-item
            routerLink="change-password"
            style="cursor: pointer"
            class="flex items-center text-primary opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
          >
            <mat-icon
              class="text-white-500"
              matRipple
              fontIcon="vpn_key"
            ></mat-icon>
            Change your password
          </a>
          <button
            mat-menu-item
            (click)="logout()"
            class="flex items-center text-primary opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
          >
            <mat-icon
              class="text-white-500"
              matRipple
              fontIcon="logout"
            ></mat-icon>
            Logout
          </button>
        </mat-menu>
        <div
          class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16"
          style="display: none"
        >
          <a href="#" class="block px-4 py-2 account-link hover:text-white"
            >Account</a
          >
          <a href="#" class="block px-4 py-2 account-link hover:text-white"
            >Support</a
          >
          <button>
            <mat-icon
              class="text-white-500"
              style="margin-right: 5px"
              matRipple
              fontIcon="edit"
            ></mat-icon>
          </button>
        </div>
      </div>
    </header>

    <!-- Mobile Header & Nav -->
    <header class="w-full bg-sidebar py-5 px-6 sm:hidden">
      <div class="flex items-center justify-between">
        <a
          href="index.html"
          class="text-white text-3xl font-semibold uppercase hover:text-gray-300"
          >Admin</a
        >
        <button class="text-white text-3xl focus:outline-none">
          <i class="fas fa-bars"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>

      <!-- <button class="w-full bg-white cta-btn  py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
            <i class="fas fa-plus mr-3"></i> New Report
        </button> -->
    </header>

    <div class="w-full overflow-x-hidden border-t flex flex-col">
      <main class="w-full flex-grow p-6">
        <router-outlet></router-outlet>
      </main>

      <footer class="w-full bg-white text-right p-4"></footer>
    </div>
  </div>
</div>
